asgiref
astroid
colorama
Django
django-crispy-forms
django-etc
django-hitcount
django-resized
django-taggit
django-tinymce
isort
lazy-object-proxy
mccabe
Pillow
pylint
pytz
sqlparse
toml
wrapt
whitenoise
